rm-electric-knowledge-base/00_raw/hardware/
rm-electric-knowledge-base/00_raw/reference-code/
rm-electric-knowledge-base/00_raw/reference-note/
rm-electric-knowledge-base/00_raw/RM_note/
rm-electric-knowledge-base/00_raw/referee/
rm-electric-knowledge-base/00_raw/motors/
rm-electric-knowledge-base/00_raw/Obsidian-1.12.7.exe
